<!DOCTYPE html>
<html>
  <head>
    <title>YatesRubyRailsReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
  <%= current_user.username %> | <%= current_user.email %> | <%= link_to "Profile", "/users/#{current_user.id}" %> | <%= link_to "Sign out", '/signout' %>

    <%= yield %>
  </body>
</html>
